<div class= "container">
  <div>
    <div class= "d-flex align-items-center justify-content-center" style="height:200px;">
      <div class= "row">
        <div class= "col mt-5">
          <h4>SoundPathについて</h4>
        </div>
      </div>
    </div>
    <div class= "justify-content-center" style="height:100px;">
      <div class= "row">
        <div class= "col">
          <p class= "text-center">
            <strong>Soundpath</strong>は<strong>「誰でも気軽に自作曲を共有できる」</strong><br>
            をコンセプトにしています。<br>
            ログインしてあなたの楽曲を共有しましょう。<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

