<div>
  <div>
    <div>
      <p>アーティスト,トラックを検索</p>
    </div>
  </div>
  <div>
    <div>
      <%= link_to "Log in", new_user_session_path %>
    </div>
    <div>
      <%= link_to "Sign up", new_user_registration_path %>
    </div>
  </div>
  
  






