<div class="container">
  <div class="row justify-content-center mt-3">
    <% visitor = notification.visitor %>
    <% visited = notification.visited %>
    <div class="col-xl-auto col-lg-auto col-sm-auto col-auto mt-4">
      <%= link_to user_path(visitor) do %>
        <b><%= visitor.name %></b>
      <% end %>
      <span>さんが</span>
    </div>
  </div>
  <div class="row justify-content-center">
    <span class="border-bottom">
      <div class="col-xl-auto col-lg-auto col-sm-auto col-auto">
        <% case notification.action %>
          <% when "follow" %>
            あなたをフォローしました
          <% when "favorite" %>
            あなたの楽曲にいいねしました
        <% end %>
        <%= link_to(notification_path(notification), class: "text-dark ml-2", method: :delete) do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    </span>
  </div>
</div>































