<h5>通知一覧</h5>
<% if @notifications.present? %>
  <% @notifications.each do |notification| %>
    <%= link_to read_user_notification_path(current_user.name_id,notification), method: :patch do %>
      <%= render "#{notification.action_type}", notification: notification %>
    <% end %>
  <% end %>
<% else %>
  <b>通知はありません</b>
<% end %>










